.wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 10px;
}

.comment {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  padding: 1rem;

  font-family: var(--font-open-sans);
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
  color: var(--black);
}

.title {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
}

.name {
  font-size: 12px;
  font-weight: 700;
  font-style: normal;
  line-height: normal;
}

.text {
  font-family: var(--font-open-sans);
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 28px;
  color: var(--gray);
}
