:root {
  --background: #fff;
  --primary: #6E6E6E;
  --black: #2C2C2C;
  --gray: #4B4B4B;
  --light-gray: #F5F5F5;
  --blue: #1473E6;
  --light-blue: #E5F4FF;
}

html {
  height: 100%;
}

html,
body {
  overflow-x: hidden;
  max-width: 100vw;
}

body {
  min-height: 100%;

  color: var(--primary);

  background: var(--background);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
